language: python
sudo: false
python:
    - 2.7
install:
    - pip install -U setuptools==33.1.1
    - python bootstrap.py
    - bin/buildout
script:
    - bin/test -v1
notifications:
    email: false
cache:
  pip: true
  directories:
    - eggs/
